<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Arcade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="text-align: center; padding-top: 100px;">
    <h1 style="font-size: 4em; color: #00e5ff; text-shadow: 0 0 20px #00e5ff;">THE ARCADE</h1>
    <p style="color: #aaa; font-size: 1.5em;">Games module is currently under construction. Stay tuned!</p>
    <br><a href="/dashboard" class="btn" style="width: 200px;">Go Back</a>
</body>
</html>
